/*-----------------------reset styles------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*--------------------------enter your styles-----------------------*/

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    color: #383838;
    padding: 0 0 15px 0;
}

h2 {
    color: #606060;
    padding: 20px 0 15px 0;
}

h4 {
    background-color: #383838;
    color: #ffffff;
    padding: 5px 0 5px 0;
    border-radius: 5px;
}

h4:hover {
    background-color: #00a99d;
}

nav {
    text-align: center;
}

hr {
    background-color: #dedede;
}

.listOfNav {
    padding: 0 0 20px 0;
}

.listOfNav ul,
li {
    display: inline-block;
}

.listOfNav li {
    padding: 0 10px 0 10px;
    font-weight: bold;
}

.listOfNav li :hover {
    background-color: #00a99d;
    color: white;
    border-radius: 10px;
    padding: 5px 8px;
}

.wholeBody {
    font-family: Raleway Regular, Arial, Helvetica, sans-serif;
    color: #8a8a8a;
    font-size: 14px;
}

.upperBody img {
    width: auto;
    height: auto;
    max-width: 100%;
}

#colorTitleChange {
    color: #00a99d;
}


/* ------------------------second part styles----------------------- */

.weOffer {
    text-align: center;
    padding: 20px;
}

.weOffer h2 {
    font-weight: bold;
}

.offerFormat {
    display: inline-block;
    width: 300px;
}

.buttonFormat {
    padding-top: 15px;
}

.buttonFormat p {
    font-size: 12px;
    background-color: white;
    border-radius: 5px;
    border-color: #8a8a8a;
    border-style: solid;
    padding: 5px 5px 5px 5px;
}

.buttonFormat :hover {
    background-color: #00a99d;
    color: white;
}

#offerHeader {
    text-align: center;
}

.ornamentFade {
    color: #00a99d;
}

#fadeFull {
    opacity: 0.5;
}

#fadeSemi {
    opacity: 0.7;
}


/*----------------------third part styles-------------------------*/

.featuresFormatMajor {
    background-color: #383838;
}

.featuresFormatMajor p {
    text-align: center;
}

.featuresMinor {
    padding: 40px 0 0 0;
}

.featuresFormat {
    width: 400px;
    text-align: left;
    position: relative;
    top: 200px;
    padding-left: 80px;
}

.featuresFormat img {
    float: left;
}

#featuresParagraph {
    overflow: overlay;
    padding-left: 30px;
}

#featuresParagraph p {
    padding-top: 10px;
    line-height: 1.8em;
    text-align: left;
}

#featuresParagraph a {
    padding-bottom: 10px;
    text-align: left;
}

.featuresFormatMajor h3 {
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.featuresFormat a {
    color: white;
    font-weight: bold;
}

.screenHorizontal {
    z-index: 2;
    position: relative;
    left: 600px;
}

.screenVertical {
    z-index: 1;
    left: 300px;
    bottom: 10px;
    position: relative;
}


/*---------------------fourth part styles-----------------------*/

.stripesWhole {
    padding: 60px 0 60px 0;
    text-align: center;
}

.stripesImage {
    padding: 10px;
    float: left;
}

.stripesMajorFormat {
    display: inline-block;
}

.stripesInner {
    overflow: overlay;
}

.stripesMinorFormat {
    display: inline-block;
    width: 350px;
    line-height: 1.5em;
    text-align: left;
    padding: 0 0 0 10px;
}

.stripesMinorFormat a {
    font-weight: bold;
    color: #383838;
}

#caption {
    color: #aaaaaa;
    font-size: 12px;
}


/*--------------------fifth part styles--------------------------*/

.bigWheelFormat {
    text-align: center;
    padding: 30px 0 30px 0;
}

.wheelFormat {
    display: inline-block;
    width: 200px;
}

.wheelFormat p {
    font-weight: bold;
    font-size: 12px;
    padding-top: 10px;
}

.powerfulSkillsFormat {
    background-color: #383838;
}

.powerfulSkillsFormat {
    text-align: center;
}

.powerfulSkillsFormat h3 {
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 30px 0 20px 0;
}


/*--------------------sixth part styles-------------------------*/

.sampleTitle h3 {
    font-weight: bold;
    font-size: 18px;
    color: #383838;
    padding: 50px 0 20px 0;
}

.sampleTitle p {
    padding: 0 0 40px 0;
    text-align: center;
}

.bigSampleWorks {
    text-align: center;
}

.sampleWorks {
    display: inline-block;
}

.sampleWorks img:hover {
    opacity: 0.1;
    color: #00a99d;
}

.buttonMajorWorks {
    display: inline-block;
    background-color: #00a99d;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 300px;
    text-decoration: none;
    margin: 30px 0 70px 0;
}

#buttonWorks {
    text-align: center;
}

.buttonMajorWorks:hover {
    background-color: #5cbf2a;
}


/*--------------------seventh part styles-----------------------*/

.factsFormatMajor {
    background-color: #383838;
}

.factsFormatMajor h3 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 50px 0 10px 0;
}

.factsFormatMajor p {
    font-size: 12px;
    padding-bottom: 20px;
    text-align: center;
}

.factsFormat {
    display: inline-block;
    width: 100px;
}


/*--------------------button styles-----------------------------*/

.factsButton {
    margin: auto;
    background-color: #00a99d;
    color: white;
    padding: 20px 0 20px 150px;
    width: -webkit-fill-available;
    text-align: center;
}

#factsButtonMinor {
    display: inline-block;
}


/*---------------------eigth part styles-----------------------*/

.membersFormat h3 {
    font-size: 18px;
    font-weight: bold;
    padding: 50px 0 10px;
    color: #383838;
}

.membersFormat p {
    font-size: 12px;
    text-align: center;
    padding-bottom: 40px;
}


/*--------------------ninth part styles----------------------*/

.quotesFormat {
    background-color: #00a99d;
    padding: 60px 0 60px 0;
}

.slideshowContainer {
    text-align: center;
    padding: 30px 0 30px 0;
    background-color: #383838;
}

.slideshowPic {
    display: inline-block;
    padding: 10px;
    background-color: gray;
    border-radius: 5px;
}

.slideshowPic img {
    height: 60px;
    width: auto;
    opacity: 0.5;
}

.previous,
.next {
    cursor: pointer;
    padding: 8px;
    font-weight: bold;
    font-size: 15px;
    color: #00a99d;
    border-radius: 3px;
    background-color: white;
}

.previous:hover,
.next:hover {
    color: white;
    background-color: #00a99d;
}

.active,
.slideshowPic:hover {
    opacity: 1;
    background-color: #383838;
}


/*--------------------tenth part styles------------------------*/

.pricesFormatMajor {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.pricesFormat {
    display: inline-block;
    width: 150px;
    line-height: 2.5em;
    padding-bottom: 20px;
}

.pricesFormat li {
    display: block;
}

.pricesFormat button {
    background-color: #00a99d;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    color: white;
    border: none;
}

.headPrices h3 {
    font-size: 18px;
    font-weight: bold;
    padding: 40px 0 10px;
    color: #383838;
}

.headPrices p {
    font-size: 12px;
    text-align: center;
}


/*------------------eleventh part styles------------------------*/

.formFormat form {
    position: relative;
    bottom: 200px;
    padding-left: 100px;
}

#uniqueFormat p {
    text-align: center;
    background-color: #8a8a8a;
    color: #383838;
    padding: 50px 0 50px 0;
    font-weight: bold;
}

mapFormat {
    display: block;
}


/*------------------footer styles------------------------------*/

.footerFormat {
    text-align: center;
    background-color: #383838;
    padding: 20px 0 30px 0;
}